.kn-small-logo-img{
  height: 100%;
  padding: 10px 0;
}
.kn-small-burger-logo-img{
  height: 35px;
  width: 35px;
  line-height: 35px;
  font-size: 18px;
}
.kn-wh1ai{
  width: 100%;
  height: auto;
}
figure.item-image>img{
  max-width: 100%;
  height: auto;
}
ul.pagination{
  justify-content: space-between;
  //flex-wrap: wrap;
  //position: relative;
  .next{
    //position: absolute;
    //right: 0;
  }
}

// Шапка с заголовком и описанием. Изображение добавляется через style в необходимом месте
.ms-hero-img{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


// mod_articles_category
.carousel-caption a:hover{
  color: $color-warning;
}
.kn-owl-slider-img figcaption.caption{
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.kn-owl-slider-full-img{
  figure{
    position: relative;
    &>img{
      width: 100%;
      height: auto;
    }
  }
  figcaption.caption{
    position: absolute;
    background-color: rgba(0, 0, 0, .7);
    width: 100%;
    bottom: 0;
    padding: 15px;
  }
}
.kn-owl-slider-full-content{
  position: absolute;
  padding: 5px;
  background-color: rgba(0, 0, 0, .6);
  margin-right: 15px;
  z-index: 1;
  .mod-articles-category-introtext{
    height: 20px;
    overflow: hidden;
  }
}
// Моий вариант 1
.kn-slide{
  &.carousel-header{
    padding: 0;
  }
  figure{
    margin: 0;
  }
  .kn-owl-slider-full-content{
    width: 100%;
  }
  h1{
    margin: 0;
  }
  .kn-owl-slider-full-img{
    position: relative;
  }
  .my-owl{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
  }
}
// Вывод материалов категории в виде карточки с картинкой с лева
.card.kn-maci{
  figure{
    margin: 0;
    img{
      width: 100%;
      height: auto;
    }
  }
}


.main-slider.kn-main-slider {
  margin-top: -40px;
  text-align: center;
  img{
    width: 100%;
    height: auto;
  }
}

// kH1 error.php
.kn-500{
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
  }
  ul{
    text-align: left;
  }
}

.modal-backdrop.show{
  display: none;
}

// cookies
.kn-cookie{
  position: fixed;
  //background-color: $color-primary;
  //color: #fff;
  bottom: 0;
  z-index: 2000;
  width: 100%;
  margin-bottom: 0;
}

.blog-full{
  figure{
    img{
      width: 100%;
      height: auto;
    }
  }
  .page-header{
    display: block;
    h2{
      margin-top: -5px;
    }
  }
  .readmore{
    text-align: right;
  }
}

.kn-main{
  margin-top: -40px;
  margin-bottom: -40px;

}

.ms-site-container>.kn-main ~ .ms-footbar{
  color: #000;
}

.kn-bg-img{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h4.ms-thumbnail-caption-title>a{
  &:hover, &:focus, &:active{
    color: #fff;
  }
}

button.btn.dropdown-toggle.btn-light{
  z-index: 2;
}

.kn-portfolio-filter{
  .form-group{
    margin-top: 0;
  }
}

.portfolio-item-caption p{
  color: $mdc-grey-600!important;
}

.btn-back-top{
  z-index: 10001;
}

.hero-fix{
  position: absolute;
  z-index: 1;
  .float-start{
    margin-right: 3px;
    + li {
      margin-right: -5px;
    }
  }
  .divider{
    color: #FFA726;
  }
  span{
    color: #fff;
  }
  .active:before{
    color: #fff!important;
  }
}

.about1{
  h2[itemprop="headline"]{
    text-align: center;
  }
}
.mod-articles-category-introtext{
  //display: none;
}
figure.item-image{
  //display: none;
}
.kn-maci + .kn-maci{
  //display: none;
}