// Стандартные Стили Для Контента. Покрывают базовые потребности в позиционировании контента на странице.
.kn-{
  &float-r{ //обтекание справа
    float: right;
  }
  &tl{ // Выравнивание по левой стороне
    text-align: left;
  }
  &tc{ // Выравнивание по центру
    text-align: center;
  }
  &tr{ // выравнивание по правой стороне
    text-align: right;
  }
  &c{ // Выравнивание по центру
    text-align: center;
    margin: auto;
  }
  &n{ // Сприятать блок
    display: none;
  }
  &w-max{ // максимальная ширена
    width: 100%;
  }
  &h-max{ // максимальная высота
    height: 100%;
  }
  &wh1a{
    width: 100%;
    height: auto;
  }
  &mt0{
    margin-top: 0;
  }
  &mb0{
    margin-bottom: 0;
  }
  &ml0{
    margin-left: 0;
  }
  &mr0{
    margin-right: 0;
  }
  &ww{
    word-wrap: break-word;
  }
}
// Flex START
.kn-f{
  display: flex;
}
.kn-f-{
  &jc-{ // justify-content
    &sb{
      justify-content: space-between;
    }
    &c{
      justify-content: center;
    }
    &sa{
      justify-content: space-around;
    }
  }
  &as-{ // align-self
    &fs{
      align-self: flex-start;
    }
    &c{
      align-self: center;
    }
    &fe{
      align-self: flex-end;
    }
  }
  &fw-{ // flex-wrap
    &w{
      flex-wrap: wrap;
    }
  }
}
// Flex END
// Стили заголовков START
.kn-t-{
  &h1{
    margin: 2rem 0 1.5rem 0;
    font-size: 3.6rem;
  }
  &h2{
    margin: 2rem 0 1.5rem 0;
    font-size: 3rem;
  }
  &h3{
    margin: 2rem 0 1.5rem 0;
    font-size: 2.4rem;
  }
  &h4{
    margin: 2rem 0 1.5rem 0;
    font-size: 1.8rem;
  }
  &h5{
    margin: 2rem 0 1.5rem 0;
    font-weight: bold;
    font-size: 1.4rem;
  }
  &h5{
    margin: 2rem 0 1.5rem 0;
    font-weight: bold;
    font-size: 1.2rem;
  }
}
// Стили заголовков END
