/**
 * @link: https://codepen.io/dzandut/pen/wRbXmM
 */
$padding: 16px; // Отступ от краев экрана
$trigger-size: 50px; // Размер кномки
$action-size: 50px; // Размер выподающих блоков
$max-child-actions: 3; // Количество элементов в списке
$transition-duration: .4s; // Скорость работы
@media (max-width: 575.98px) {
  .kn-fab {
    position: fixed;
    bottom: $padding; //70px;
    right: $padding;
    text-align: center;
    //font-family: Arial, Helvetica, sans-serif;
    z-index: 9999;
    //display: none;

    .trigger, .action, .action-left {
      border-radius: 50%;
      box-shadow: 0 2px 5px rgba(0, 0, 0, .25);
      cursor: pointer;

      &:active {
        opacity: .7;
      }
    }

    .trigger {
      position: relative;
      background: #2c4;
      color: #fff;
      height: $trigger-size;
      width: $trigger-size;
      line-height: $trigger-size;
      vertical-align: middle;
      font-size: 4rem;
      font-weight: 300;
      //z-index: 1;
    }

    .action {
      position: absolute;
      top: 0;
      margin: 0 ($trigger-size - $action-size)/2;
      //background: #fff;
      color: #333;
      height: $action-size;
      width: $action-size;
      line-height: $action-size;
      transition: transform $transition-duration ease;
    }

    .actions {
      opacity: 0;
      transition: opacity $transition-duration ease;
    }

    &.open {
      .actions {
        $action-space: $action-size + $padding/2;
        opacity: 1;

        @for $i from 1 through $max-child-actions {
          $distance: $action-space * $i;
          .action:nth-child(#{$i}) {
            transform: translateY(-$distance*1.4);
          }
        }
      }

      .tooltip {
        opacity: 1;
        transform: translateY(-50%) scale(1);
        right: $trigger-size + $padding/2;
        transition-delay: $transition-duration/2;
      }
    }

    .tooltip {
      position: absolute;
      top: 50%;
      right: 0;
      width: 50vw;
      transform: translateY(-50%) scale(0);
      transform-origin: right center 0;
      text-align: right;
      transition: all $transition-duration ease;
      opacity: 0;
      color: #fff;
    }

    .action-left {
      position: absolute;
      top: ($trigger-size - $action-size)/2; // получаем середину
      //margin: 0 ($trigger-size - $action-size)/2;
      //background: #fff;
      color: #333;
      height: $action-size;
      width: $action-size;
      line-height: $action-size;
      transition: transform $transition-duration ease;
    }

    .actions-left {
      opacity: 0;
      transition: opacity $transition-duration ease;
    }

    &.open {
      .actions-left {
        $action-space: $action-size + $padding/2;
        opacity: 1;

        @for $i from 1 through $max-child-actions {
          $distance: $action-space * $i;
          .action-left:nth-child(#{$i}) {
            transform: translateX(-$distance*1.4);
          }
        }
      }

      .tooltip-left {
        opacity: 1;
        transform: translateY(-100%) scale(1);
        //right: $trigger-size + $padding/2;
        transition-delay: $transition-duration/2;
      }
    }

    .tooltip-left {
      position: absolute;
      top: 30%;
      right: 0;
      width: 50vw;
      transform: translateY(-100%) scale(0);
      transform-origin: right center 0;
      text-align: right;
      transition: all $transition-duration ease;
      opacity: 0;
      color: #fff;
    }
  }

  body {
    //background: rgba(0, 0, 0, .6);
  }
  .btn-back-top{
    display: none;
  }
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .trigger::i-block-chrome, .safari_only {
    font-size: 16px !important;
  }
}
@supports (-webkit-text-size-adjust:none) and (not (-ms-ime-align:auto))
and (not (-moz-appearance:none))
{

  .safari_only {
    color:#0000FF;
    background-color:#CCCCCC;
    font-size: 100px;
  }

}
@media (min-width: 576px) {
  .kn-fab{
    display: none;
  }
}