.sppb-btn{
  font-size: inherit;
  &-link{
    color: $color-alt;
    &:hover, &:active, &:focus{
      color: $color-alt-dark;
    }
  }
}

.card > .sppb-column-addons{
  padding: 2rem;
  flex: 1 1 auto;
  min-height: 1px;
  box-sizing: border-box;
}
