//@import '../ms/variables/material-colors';
@import '../ms/config';

// Мои переменные
//$kn-color-menu: $color-selector !default; // Цвет текста в Меню, если нужен постоянный
//$kn-main-font-family: 'Roboto', sans-serif;
//$kn-alt-font-family: 'Roboto', cursive;

$kn-main-menu-link-color: #fff;

// Burger menu
$kn-burger-menu-link-color: #616161;
$kn-burger-menu-bg-color: #FAFAFA;
