@import "cart";
@import "category";
@import "invoice";
@import "orders";
@import "productdetails";
@import "sublayouts";
@import "user";
@import "vmplug";
// START Virtuemart
.carousel-item > img { // Оформление главного изображения
  max-width: 100%;
}

span[class^="Price"] { // Оформления цены товара
  font-size: 3rem;
  line-height: 34px;
}

.kn-mat-icon .product-field-display{
  display: flex;
  justify-content: center;
  margin: 15px 0;
  & > img {
    margin: 0 5px;
    width: 40px;
    height: 40px;
  }
}

.product-short-description{
  padding: 15px;
  font-size: 15px;
}

.product-description {
  span.title{
    display: none;
  }
  td{
    text-align: left;
  }
  .list-group-item{
    text-align: left;
  }
  .kn-vm-plus{
    td{
      padding: 0!important;
    }
    .list-group-item:first-child{
      border-top: none;
    }
  }
}

.kn-vm-tr-cart{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  background-color: #fff;
}
.kn-h3-cart{
  font-weight: 500;
  i{
    font-size: 4rem;
    margin-right: 10px;
  }
}
.checkout-button-top{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
.card-title{
  a{
    color: #f5f5f5;
  }
}
.cart-images img{
  max-width: 100%;
  padding: 20px;
}
.kn-cart-item-desc{
  font-weight: 500;
}
span.PricebasePriceWithTax, .line-through{
  color: #f44336;
  text-decoration-line: line-through;
  font-size: 15px;
}
.product-price{
  text-align: right;
}
.kn-cart-item-price{
  display: flex;
  align-items: center;
  >div{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.kn-quantity{
  margin: 0;
}
.kn-sku{
  margin-bottom: 20px;
}
.kn-cart-item-quantity {
  .btn {
    padding: 8px 15px;
    &>i {
      margin-right: 0;
    }
  }
}
#full-tos{
  display: none;
}
.kn-cart-summary>li{
  justify-content: space-between;
}
span.vmpayment{
  display: inline;
  position: relative;
  >span{
    display: inline;
    position: inherit;
  }
}
.vm-payment-plugin-single>label{
  padding-left: 20px;
  >label{
    padding-left: 0;
    //line-height: 1!important;
  }
}
.form-group .radio label{
  line-height: 1;
}
span.PricesalesPriceShipment{
  font-size: 2rem;
}
a.details{
  color: #ff9800;
}
[name="login"]{
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  i{
    font-size: 4rem;
    margin-right: 10px;
  }
  [name="Submit"]{
    margin-left: 10px;
  }
}
.category-view {
  .addtocart-area form {
    display: none;
  }
  img {
    max-width: 100%;
  }
}
#fancybox-close{
  //top: 15px;
  //right: 15px;
  display: none!important;
}

#facebox{
  z-index: 9999;
  position: fixed;
  top: 30%!important;
  .popup{
    border: none;
  }
  .close{
    display: none!important;
  }
  .content{
    padding: 0;
    max-width: 300px;
  }
  .card-primary{
    margin-bottom: 0;
  }
  .card-header{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    a{
      color: #fff;
      display: block;
      padding: 10px;
      font-size: 2rem;
      &:hover{
        font-size: larger;
        color: #ff9800;
      }
    }
  }
  .card-body i{
    font-weight: bold;
  }
}
.form-validate.form-horizontal{
  width: 100%;
}
.kn-u-pad{
  padding-bottom: 20px;
}
.kn-u-fields .form-group{
  margin-top: 0;
  label.control-label{
    margin-top: 8px;
  }
  .bootstrap-select{
    margin-top: 0;
  }
}
legend.userfields_info{
  margin-bottom: .5rem;
}
.kn-war{
  a{
    color: #FF9800;
  }
}
.color-danger .vmpayment_name{
  //color: #424242;
  color: #4caf50;
}
.kn-cart-thank{
  div, .vmpayment_name{
    font-weight: bold;
    span{
      font-weight: normal;
    }
  }
}
.card ul#tabs{
  padding: 15px 20px;
  padding: 1.5rem 2rem;
  border: 0;
  background-color: #424242;
  color: #f5f5f5;
  display: flex;
  justify-content: space-between;
  li{
    list-style: none;
    &:hover{
      cursor: pointer;
      font-size: larger;
      color: #ff9800;
    }
  }
}
#ui-tabs{
  .tabs{
    padding: 2rem;
    flex: 1 1 auto;
  }
}
.sectiontableentry1{
  border-top: #424242;
  border-top-style: inset;
}
.kn-user-page{
  #tab-1>fieldset>span.userfields_info{
    display: none;
  }
  #tabs{
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    padding-right: 35px;
    flex-wrap: wrap;
    .btn-block+.btn-block{
      margin-top: 10px;
    }
  }
}
.vmpayment > img{
  height: 18px;
  padding-left: 20px;
}
#fancybox-content{
  border: none;
  .card{
    margin-bottom: 0;
  }
  .card-header{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    a{
      color: #fff;
      display: block;
      padding: 10px;
      font-size: 2rem;
      &:hover{
        font-size: larger;
        color: #ff9800;
      }
    }
  }
  .card-body{
    h4{
      text-align: center;
      font-weight: 400;
      font-size: 2.2rem;
      line-height: 2;
      margin-bottom: 0;
    }
  }
  .continue_link{
    color: #fff;
  }
  .showcart{
    color: #fff;
  }
  .kn-terms{
    padding: 30px;
  }
}
.dropdown-menu{
  //top: -750px!important;
}
// END Virtuemart
