// VARS START

// VARS END
h1[itemprop='headline']{
  text-align: center;
}
.ms-site-container{
  font-size: 1.9rem;
}
.ms-footer-col.map{
  padding-left: 0;
}
.ms-footbar .l2 a{
  ///color: rgba(255, 255, 255, .85);
}
.three_cols.l3 a{
  ///color: rgba(255, 255, 255, .7);
}
.three_cols:hover{
  //box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);

}
.kn-main-achiv p{
  text-transform: uppercase;
}

.ms-hero.top2{
  background-color: $color-primary;
  h2{
    color: $color-selector;
  }
}

.kn-main-slider {
  background-image: url("/images/content/unsere_arbeit/1659463054.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .mod-custom {
    color: $color-selector;
    z-index: 2;
    margin: 0 5px;
  }
  &::before{
    content: "";
    position: absolute;
    background-color: $color-primary-dark;
    opacity: .5;
    width: 100%;
    height: 94vh;
  }
}

.kn-uns{
  .f2{
    display: grid;
    height: 100%;
    align-content: space-between;
  }
  .f3{
    top:  -2.2rem;
  }
  .f4{
    width: 100%;
  }
}

.three_cols{
  &.l2 {
    a {
      //font-size: 1rem;
    }
  }
  &.l3 {
    a {
      //font-size: 1rem;
    }
  }
}

.tmp1>a{
  padding: 15px;
}