// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .kn-main-slider{
    h1{
      font-size: 8rem;
    }
    p{
      font-size: 4rem;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
.kn-uns .f2{
  padding-right: 15px;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .kn-social{
    text-align: center;
    margin-top: 8rem!important;
  }
  .map>iframe{
    height: calc(100vw);
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {

}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .kn-uns .f2{
    padding: 0 15px;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {

}




// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

}
