// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .kn-r-min5{ // Приячем на этих экранах
    //display: none;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .kn-r-min7{ // Приячем на этих экранах
    //display: none;
  }
  // если нужно сделать карточки в ячейке одной высоты. На меньшем размере мне кажется будет не актуально но если понадобится можно перенести.
  .kn-card-height{
    height: calc(100% - 2rem); // Отнимаем высату паддинга.
  }
  .dl-horizontal{
    dt{
      width: 100px;
    }
    dd{
      margin-left: 110px;
    }
  }
  .kn-owl-slider-full-content{
    padding: 10px;
    .mod-articles-category-introtext{
      height: auto;
    }
  }
  // Flex Карторчка. Использовать вместе с основными стилямия
  .kn-fc{
    .card-body{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .kn-r-min9{ // Приячем на этих экранах
    //display: none;
  }
  .card.kn-maci .row>div{
    &:first-child{
      padding-right: 0;
    }
    &:last-child{
      padding-left: 0;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .kn-r-min12{ // Приячем на этих экранах
    //display: none;
  }
  .kn-owl-slider-full-content{
    padding: 15px;
  }
}



// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .kn-r-max5{ // Приячем на этих экранах
    //display: none;
  }
  ul.pagination{
    flex-wrap: wrap;
    .next{
      margin-top: 4rem;
    }
  }
  .ms-footer-col.map{
    padding-right: 0;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .kn-r-max7{ // Приячем на этих экранах
    //display: none;
  }
  // Исправление slider
  .carousel-header .carousel-control.right{
    right: 50px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .kn-r-max9{ // Приячем на этих экранах
    //display: none;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .kn-r-max12{ // Приячем на этих экранах
    //display: none;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
  .kn-r-min5-max7{ // Приячем на этих экранах
    //display: none;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
  .kn-r-min7-max9{ // Приячем на этих экранах
    //display: none;
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
  .kn-r-min9-max12{ // Приячем на этих экранах
    //display: none;
  }
}
