<link rel="apple-touch-icon" sizes="180x180" href="templates/ms/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="templates/ms/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="templates/ms/img/favicon/favicon-16x16.png">
<link rel="manifest" href="templates/ms/img/favicon/site.webmanifest">
<link rel="mask-icon" href="templates/ms/img/favicon/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="templates/ms/img/favicon/favicon.ico">
<meta name="apple-mobile-web-app-title" content="MaterialStyleTemplate">
<meta name="application-name" content="MaterialStyleTemplate">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="templates/ms/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">