/**
 * @link: https://codepen.io/dirkpeter/pen/Mqazbo
 * @task: MS-140
 */

$color-btn: $color-primary;
$a1: $color-warning; //#324D5C
$a2: $color-success; //#14B278
$a3: $color-royal; //#F0CA4D
$a4: $color-warning; //#E37B40
$a5: $color-danger; //#ED3752

$item-count: 3; // Число =5
$item-size: 50px; // 44
$button-size: 60px; // Размер главной кнопки =80
$button-rotation: 0; // 19
$button-space: 130; // 160
$actions: (
    a1: ($a1, '\f1fa'),
    a2: ($a2, '\f879'),
    a3: ($a3, '\f3c5'),
    a4: ($a4, ''),
    a5: ($a5, '')
);

fab{
  display: none;
}
@media (max-width: 575.98px) {
  .btn-back-top.back-show{
    bottom: 100px;
    right: 2.8vh;
  }

  %button {
    display: block;
    overflow: hidden;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 0 1px 3px 0 rgba(#000, .2);
    cursor: pointer;
    position: relative;
  }

  %fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1.4; // 1
    font-size: 1rem;
  }

  fab {
    display: block;
    position: fixed;
    bottom: 2vh;
    right: 2vh;
    height: $button-size;
    width: $button-size;
    z-index: 10001;

    button {
      @extend %button;
      display: block;
      z-index: 3;
      height: $button-size;
      width: $button-size;
      transition: all .3s ease-in-out;
      color: white;
      background-color: $color-btn;
      border-width: 0;

      &::after {
        @extend %fa;
        content: '\f067';
        font-size: 40px;
        transition: all .3s ease-in-out;
        // text-shadow: 0 1px 3px rgba(#000, .6);
      }

      &:active,
      &:focus {
        outline: none;
      }
    }

    a {
      @extend %button;
      height: $item-size;
      width: $item-size;
      transition: all .3s ease-in-out;
      text-decoration: none;

      &::after {
        @extend %fa;
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
      }

      &:hover {
        box-shadow: 0 3px 15px 0 rgba(#000, .3);
      }

      &:active {
        box-shadow: 0 1px 2px 0 rgba(#000, .15);
      }
    }

    .action {
      @each $action, $data in $actions {
        &-#{$action} {
          $color: nth($data, 1);

          background-color: $color;

          &:hover {
            background-color: lighten($color, 8);
          }

          &:active {
            background-color: darken($color, 8);
          }

          &::after {
            content: nth($data, 2);
          }
        }
      }
    }

    li {
      position: absolute;
      right: $button-size / 2 - $item-size / 2;
      bottom: $button-size / 2 - $item-size / 2;
      //transform: rotate(0) translate(0, 0);
      transition: all .3s ease-in-out;

      @for $i from 1 through $item-count {
        &:nth-child(#{$i}n) {
          $rotate: 90 + $button-rotation - $button-space / $item-count * ($i - 1);
          a::after {
            transform: rotate(#{-$rotate}deg);
          }
          a::before {
            transform: rotate(#{-$rotate}deg);
          }
        }
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &.open {
      button {
        box-shadow: 0 3px 15px 0 rgba(#000, .3);
        background-color: lighten($color-btn, 8);
        &::after {
          transform: rotate(225deg);
        }
      }

      li {
        @for $i from 1 through $item-count {
          &:nth-child(#{$i}n) {
            $rotate: 90 + $button-rotation - $button-space / $item-count * ($i - 1);
            transform: rotate(#{$rotate}deg) translate(-$item-size*2, 0);
            transition-delay: #{$i * 0.2}s;
          }
        }
      }
    }

    a{
      //width: 100%;
      //height: 100%;
      display: block!important;
      &::before{
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
      }
    }
  }
}