.form-control-feedback{
  position: absolute;
  left: 13px;
  top: -25px;
  z-index: 1000;
  display: block;
  background: #dc3545;
  color: #ececec;
  line-height: 1em;
  border: none;
  border-radius: 2px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 12%), 0 1px 6px 0 rgb(0 0 0 / 12%);
  padding: 0.5rem 0.5rem;
  text-align: center;
  word-wrap: break-word;
  max-width: 200px;
}
.kn-consent-legend{
  font-size: 12px;
  position: absolute;
  top: -2px;
}
.form-control.required.invalid{
  background-image: linear-gradient(#15acda, #15acda), linear-gradient(#dc3545, #dc3545);
  transition: background 0s ease-out;
  transition-duration: .3s;
}
.form-control.required.valid{
  background-image: linear-gradient(#15acda, #15acda), linear-gradient(#28a745, #28a745);
  transition: background 0s ease-out;
  transition-duration: .3s;
}
.is-empty .form-control.required.valid, .has-error .form-control.required.valid{
  background-image: linear-gradient(#15acda, #15acda), linear-gradient(#dc3545, #dc3545);
  transition: background 0s ease-out;
  transition-duration: .3s;
}
img.kn-contact-img{
  text-align: center;
}
// Small devices (landscape phones, less than 768px)
@media (max-width: 769px) {
  div.card-body.kn-contact-resp{
    padding: 0;
  }
}
// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  img.kn-contact-img{
    width: 100%;
    height: auto;
  }
}
@media (min-width: 576px) {
  .form-control-feedback{
    left: 10px;
    top: -20px;
  }
}
@media (min-width: 992px) {
  .form-control-feedback{
    left: 40px;
    top: 25px;
  }
}