// Мои стили
.ms-navbar .navbar-collapse .navbar-nav .nav-item > span, .ms-lead-navbar .navbar-collapse .navbar-nav .nav-item > span{
  padding: 0 2rem;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 1.6rem;
  color: $kn-main-menu-link-color;
}
.navbar-nav > .dropdown-divider{
  height: auto;
  width: 0;
  border-top: none;
  border-left: 1px solid $kn-main-menu-link-color;
}

// Burger menu -> Тип меню = Заголовок
.ms-slidebar .ms-slidebar-menu > li > ul li > span{
  display: block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 400;
  color: $kn-burger-menu-link-color;
  background-color: $kn-burger-menu-bg-color;
}
li.kn-burger-separator.dropdown-divider{
  //color: $kn-burger-menu-link-color; оба параметра не работают да и не нужны
  //background-color: $kn-burger-menu-bg-color;
  margin: 0;
  border-top: 1px solid #e9ecef;
}